mixin promo(data)
    section.promo(class=data.class style=!data.parallax  && "background-image: url(" + data.image + ")" )
        if (data.parallax)
            +bg-parallax({
                image: data.image,
                class: '-absolute'
            })
        if(data.bg_video)
            +bg-video({
                src: data.bg_video
            })
        .promo-container.container.-narrow(style="color:" + data.text_color + ";")
            span.promo_title(class=data.heading_class ? data.heading_class : '')= data.title
            .promo_content.text-content !{data.content}
            if (data.btn_text)
                .promo_btn-block
                    a(href="#" class=data.btn_class data-anchor=data.btn_anchor).promo_btn= data.btn_text
                    if (data.btn2_text)
                        a(href="#" class=data.btn2_class data-anchor=data.btn2_anchor).promo_btn= data.btn2_text

