mixin card(data)
    .card(class='-' + data.type style=data.bg_color && "background-color:" + data.bg_color)
        if ( data.type !== 'advantage' )
            .card_image(style=data.bg_image && "background-image: url(" + data.bg_image + ")")
                img(src=data.img alt="")
        if ( data.icon )
            i.card_icon(class=data.icon)
        .card_title(class=data.heading_class ? data.heading_class : 'h3')
            = data.title
            | &nbsp;
            if ( data.title_colored )
                br
                span.primary-text= data.title_colored
        if ( data.content )
            .card_content.text-content !{data.content}
        if ( data.btn_text )
            a.card_btn.btn-primary(href="#" )= data.btn_text